{% extends "layout.html" %}

{% block content %}
    <div class="section">
        <p> Number to choose from each type: {{ number }}</p>
        <form action="/game/{{ game_id }}/process?flags={{ flags.value }}&owner={{ owner.value }}&n={{ n }}"
              method="post">
            <div class="section">
                <h3 class="title">Relationships</h3>
                {% for n in range(0,5) %}
                    {% if hand.relationships[n:(n+1)]: %}
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="r{{ n }}" value="{{ n }}">
                                    {{ hand.relationships[n]['text'] }}
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <div class="field is-hidden">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="r{{ n }}">
                                    blank
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="section">
                <h3 class="title">Possessions</h3>
                {% for n in range(0,5) %}
                    {% if hand.possessions[n:(n+1)]: %}
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="p{{ n }}" value="{{ n }}">
                                    {{ hand.possessions[n]['text'] }}
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <div class="field is-hidden">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="p{{ n }}">
                                    blank
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="section">
                <h3 class="title">Actions</h3>
                {% for n in range(0,5) %}
                    {% if hand.actions[n:(n+1)]: %}
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="a{{ n }}" value="{{ n }}">
                                    {{ hand.actions[n]['text'] }}
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <div class="field is-hidden">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="a{{ n }}">
                                    blank
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="section">
                <h3 class="title">Feelings</h3>
                {% for n in range(0,5) %}
                    {% if hand.feelings[n:(n+1)]: %}
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="f{{ n }}" value="{{ n }}">
                                    {{ hand.feelings[n]['text'] }}
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <div class="field is-hidden">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="f{{ n }}">
                                    blank
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}