{% extends "layout.html" %}

{% block content %}
    <div class="section">
        <h3 class="title"> Round {{ current_round }}</h3>
        <p>You are ready to write your letter. It must include the following:</p>


        <ul>
            {% for card in cards %}
                <li> {{ card.text }} --- {{ card.type.value }}</li>
            {% endfor %}
        </ul>

    </div>

    <div class="section">
        <form action="/game/{{game_id}}/complete?who={{ who.value }}" method="post">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="complete">
                        I have completed my letter and wish to move on
                    </label>
                </div>
            </div>

            <div class="field ">
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}